.post-container {
    width: 60%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
    border: 1px solid gray;
    border-bottom: 0;
    margin: 0 auto;
}

.post-container:last-of-type {
    border-bottom: 1px solid gray;
}

.avatar {
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 0;
    align-items: center;
    height: 100px;
}

.avatar img {
    width: 80px;
    flex-basis: 15%;
}

.post-content {
    flex-basis: 85%;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
}

.post-content .username {
    display: inline-block;
    float: left;
    font-weight: bold;
}

.post-content .created-at-date {
    display: inline-block;
    float: right;
}

.post-content .post-text {
    text-align: left;
}

.post-content .button-panel {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.post-content .button-panel button,
.post-content .button-panel span {
    padding: 5px 10px;
    margin: 0 5px;
}