.post-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
    border: 1px solid blue;
}

.avatar {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.avatar img {
    width: 80px;
    flex-basis: 15%;
}

.post-content {
    flex-basis: 85%;
}